.description-product {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.description-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.description-product > .stars{
  margin-bottom: 25px;
  height: 25px;
}

.description-product .star{
  margin-right: 9px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.description-product > .item.-info {
  width: 200px;
  text-align: right;
}
.description-product > .item.-last {
  margin-bottom: 72px;
}

.description-product .contrast {
  text-transform: uppercase;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.description-product > .text.-last {
  margin-bottom: 0;
}

.description-product .action {
  text-decoration: none;
  color: inherit;
}
