.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 95px;
}
.title {
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  float: left;
}
.navigation {
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-size: 21px;
  float: right;
}
.action {
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}
.last {
  margin-right: 0;
}
