.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}
.header-store > .title {
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  float: left;
  text-transform: uppercase;
}
.header-store > .navigation {
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-size: 21px;
  float: right;
}

/* ou .header-store [type="search"] */
.header-store input[type="search"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
}

.header-store [type="search"]::placeholder {
  color: #fff;
}

.header-store .action {
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}
.header-store .action.-last {
  margin-right: 0;
}
