header {
  background-color: #e24647;
  overflow: hidden;
}

h1,
a {
  color: #fff;
}
h1 {
  font-size: 40px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 21px;
}
